body {
  background-image: url(../images/background-site.jpg);
  background-size: cover;
  opacity: 0.9;
}

nav {
  background-color: #82a3a1;
}

#blog-presentation {
  background-color: #82a3a1;
  margin: 25px 0;
  padding: 25px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #011936;
}

#presentation-portrait img {
  width: 200px;
  box-shadow: 5px 5px 5px #011936;
}

#blog-last-episode {
}

#blog-login {
  margin-top: 50px;
}

.episode {
  background-color: #82a3a1;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #011936;
  margin: 5px;
  padding: 5px;
}

.formulaire {
  background-color: #82a3a1;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #011936;
  margin: 5px;
  padding: 5px;
}

label {
  display: inline-block;
  width:150px;
}
